<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
</head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 2px solid whitesmoke;
  background-color: black;
  width: fit-content;
}

li {
  display: inline;
  color: white;
}
</style>
<body>
    <center><h1>{{head}}</h1>
    <ul>
        {% for i in menu %}
        <li><a href="#" style="text-decoration: none; color: white;">&nbsp;&nbsp;{{i}}&nbsp;&nbsp;</a></li>
        {% endfor %}
    </ul>      
</body>
</center>

<center><h3>{{body}}</h3></center>

</html>